
.addtask{
    width: 80px;
    height: 20px;
    display: inline-block;
    background-color: #00abf5;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 10%;
    text-align: center;
}

.addsection     {
    width: 80px;
    height: 20px;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 1px;
    margin-left: 1px;
    border-radius: 10%;
    text-align: center;
}

.editorial{
    width: 65px;
    height: 20px;
    font-size: smaller;
    display: inline-block;
    background-color: #00abf5;
    border-radius: 45%;
    text-align: center;
    color: white;
}

.q1goals{
    width: 65px;
    height: 20px;
    font-size: smaller;
    display: inline-block;
    background-color: #bc58e1;
    border-radius: 45%;
    text-align: center;
    color: white;
}

.recruiting{
    width: 65px;
    height: 20px;
    font-size: smaller;
    display: inline-block;
    background-color: #00c5a1;
    border-radius: 45%;
    text-align: center;
    color: white;
}

.mobile{
    width: 65px;
    height: 20px;
    font-size: smaller;
    display: inline-block;
    background-color: #ff9300;
    border-radius: 45%;
    text-align: center;
    color: white;
}

.website{
    width: 65px;
    height: 20px;
    font-size: smaller;
    display: inline-block;
    background-color: #ff3c8e;
    border-radius: 45%;
    text-align: center;
    color: white;
}

.sales{
    width: 65px;
    height: 20px;
    font-size: smaller;
    display: inline-block;
    background-color: #96d32f;
    border-radius: 45%;
    text-align: center;
    color: white;
}

.strong{
    font-weight: bold;
}



.up {

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 0;
}

.container{
    text-align: left;
    width: 80%;
    
}
.container-small{
    width: 70%;
    margin: auto;
}

.font-s-30 {
    font-size: 30px;
}

.bg-red {
    background-color: red;
}

.bg-acquamarine{
    background-color: aquamarine;
}

.bg-white{
    background-color: white;
}

#notification-email-counter{
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: rgb(172, 0, 0);
    color: white;
    border-radius: 50%;
    text-align: center;
}

#unread-email-text {
    line-height: 50px;
}

.row-email{
    height: 40px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.object-email-text{
    display: inline;
    font-weight: 600;
}


.email-text{
    margin-left: 20px;
    line-height: 40px;
}

.star{
    color: yellow;
}
